.container
{
	font-size: 20px;
	width: 100%;
}
#colormenu{
background-color: white;
}
html
{
width: 100%;
height: 100%;
}
#content
{
width: 60%;
text-align: center;
margin-left: 20%;
}
table
{
text-align:center;
margin: 0 auto;
}
thead
{
border: 1px solid black;
text-align: center;
}

h1
{
font-family: Arial;
}
a
{
text-decoration: none;
color: blue;
}
p
{
	text-align: center;
}
.menu
{
	font-size: 30px;
}
@media only screen and (max-width: 400px) {
  body 
	{
    background-color: #F09A9D; /* Red */
	}
  img
	{
	width: 80%;
	height: 50%;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body
  {
    background-color: whitesmoke;
  }
  a
  {
  	  text-align: center;
	  color: red;
  }
  	img
	{
	margin:0 auto;
	display:block;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body 
  {
    background-color: whitesmoke;
  }
	#contlogo{
	background-color: #B3B3B3;
	}
}
.hidden{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
.hidden:focus{
	position:static; 
	width:auto; 
	height:auto; 
}