.container{
	font-size: 20px;
}
html
{
width: 100%;
height: 100%;
}
#content
{
width: 60%;
text-align: center;
margin-left: 20%;
}
#services1
{
width: 60%;
text-align: center;
margin-left: 20%;
line-height: 40px;
}
table
{
text-align:center;
margin: 0 auto;
}
thead
{
border: 1px solid black;
text-align: center;
}

h1
{
font-family: Arial;
}
a
{
text-decoration: none;
color: blue;
}
.menu
{
	font-size: 30px;
}
}
.welcome
{
	font-family: Arial;
}